body {
  background: #0096d6;
  color: #fff;
  text-align: center;
  font: 18px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 500px;
  margin: 0 auto;
  text-align: justify;
  opacity: 0.9;
  line-height: 28px;
}

p {
  margin: 70px 0;
}

a {
  color: #fff;
}

small {
  opacity: 0.5;
}

.center {
  text-align: center;
}
